<div class="container">

  <h1> <%= @question.title %> </h1>
  <p><%= link_to "Edit", edit_question_path(@question) %> | <%= link_to "Delete", question_path(@question), :method => 'delete' %> </p>
  <h3><%= link_to "Upvote", question_path(@question, :vote => 'up'), method: "patch" %> |  <%= link_to "Downvote", question_path(@question, :vote => 'down'), method: "patch" %></h3>


  <h4> Posted by: <%= @question.user.username %> </h4>
  <h4> Votes: <%= @question.votes %> </h4>
  <h4> Asked:  <%= @question.created_at.strftime("%b %d %Y") %> ago</h4>


  <p><%= @question.body %> </p>

  <h4>Tags:</h4>
  <% if @question.tags.any? %>
    <% @question.tags.each do |tag| %>
      <%= tag.name %> |
    <% end %>
  <% end %>
</div>

<div class="container">
  <% if @answers.any? %>

    <h3>Answers: </h3>
    <% @answers.each do |answer| %>
      <div class="row">
        <p><%= answer.response %></p>
        <p> Answered by: <%= answer.user.username %> | <%= answer.created_at %></p>
        <p> Votes: <%= answer.votes%></p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <h3>Add your answer</h3>
  <%= render 'answers/form' %>
</div>
